* {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}

html {
    overflow-x: initial !important;
}

body {
    overflow-x: hidden;
    background-color: rgba(5, 21, 30, 1);
}

header {
    background-color: rgba(5, 21, 30, 1);
    padding: 1vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(7vh + 5vw);
    position: relative;
    border-bottom: 1px solid rgb(15, 29, 37);
}

.divSize {
    width: 100%;
    position: relative;
    display: flex;
}

.divSize div:has(span) {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.searchBtn {
    color: white;
    font-size: calc(1.9rem + 1vw) !important;
    font-weight: bolder !important;
    cursor: pointer;
}

#headerDiv {
    display: flex;
    align-items: center;
    gap: calc(2vh + 1vw);
}

header img {
    height: calc(3rem + 7vw);
    cursor: pointer;
}

.divSize:has(p) {
    justify-content: end;
    display: flex;
}

header p,
header a {
    color: white;
    font-weight: bolder !important;
    font-size: calc(0.3rem + 3vw);
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
}

input {
    font-family: 'Syne', sans-serif;
    font-size: 1.6rem;
    border: none;
    outline: none;
}

.search {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(5, 21, 30, 0.4);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* For safari */
    /* padding: 8rem 1.5rem 0; */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;
}

.search__form {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    background-color: #f0f2ff;
    box-shadow: 0 8px 32px #0a134333;
    padding-left: 1.5rem;
    border-radius: 8px;
    transform: translate(-50%, calc(30vh - 1.6rem));
    position: absolute;
    left: 50%;
    transition: transform 0.4s;
    width: 80vw;
}

/* ignore */

.search__form button {
    width: fit-content;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

/* ignore */

.search__icon {
    font-size: 2rem;
    color: #0a1343;
}

.search__input {
    width: 100%;
    padding-block: 16px;
    background-color: #f0f2ff;
    color: #5a5e72;
    border-radius: 0 8px 8px 0;
    padding-right: 10px;
}

.search__input::placeholder {
    color: #5a5e72;
}

input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    cursor: pointer;
}

.show-search {
    opacity: 1;
    pointer-events: initial;
}

.show-search .search__form {
    transform: translate(-50%, 30vh);
}

#upper {
    position: relative;
    overflow: hidden;
}

#suggestionsWrapper {
    z-index: 2;
    width: 100vw;
    height: 72vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    pointer-events: none;
}

#suggestionsMobile {
    display: flex;
    height: min-content;
    gap: 0.5rem;
    margin-bottom: 2vw;
}

#upper > #suggestions {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}

#suggestions {
    height: min-content;
    display: none;
    gap: 10px;
    margin: 0px 10% 2% 0px;
}

.btn {
    width: 4rem !important;
    height: 0.3rem !important;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    cursor: pointer;
}

.currentBtn {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1rem;
}

.btnLoading {
    height: 100%;
    width: 50%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1rem;
}

#movies {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

.delay {
    transition: 600ms;
}

.instant {
    transition: 0;
}

.fundo {
    min-width: 100vw;
    height: max-content;
}

.info {
    width: 80vw;
    display: none;
}

.infoInner {
    width: fit-content;
    margin-bottom: 5vw;
    display: flex;
    gap: 3vw;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    padding: 3vw;
    border-radius: 2vw;
    align-items: center;
}

.btnWatch {
    border: none;
    padding: 5px 5px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    width: max-content;
}

.btnWatch:hover {
    background-color: rgb(209, 209, 209);
}

.title {
    color: white;
    font-weight: bold;
    font-size: calc(0.9rem + 2vw);
    max-width: 60vw;
}

#play_arrow {
    font-size: calc(0.9rem + 2vw);
}

.infoMobile {
    width: fit-content;
}

.filme {
    width: 100vw;
    height: 72vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position-x: 50%;
    background-position-y: 50%;
}

#lower {
    height: fit-content;
    width: 90vw;
    margin: auto;
    color: white;
}

#trending {
    margin-top: 6vh;
}

.genres {
    margin-top: 6vw;
}

.genresLower {
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
    width: 100vw;
}

.pass {
    display: none;
}

.hidden {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff00;
    transition: 200ms;
    visibility: hidden;
}

.visible {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    transition: 200ms;
    cursor: pointer;
}

.centerText {
    display: flex;
    align-items: center;
    gap: 5px;
}

.centerText p {
    max-width: 45vw;
    width: fit-content;
}

.centerText svg {
    font-size: 1rem !important;
}

.genreDiv {
    cursor: pointer;
    position: relative;
}

.genreAbsolute {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.genreBar {
    height: 3px;
    width: 0px;
    background-color: white;
    transition: 150ms;
}

.previous {
    position: absolute;
    height: 100%;
    left: 0;
    border-radius: 0px 10px 10px 0px;
}

.next {
    position: absolute;
    height: 100%;
    right: 0;
    border-radius: 10px 0px 0px 10px;
}

.genres p {
    font-size: 2rem;
    font-weight: bold;
}

.genresUpper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.pageCount {
    display: none;
}

.scrollPositionWrapper {
    width: 30vw;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.scrollPosition {
    position: absolute;
    width: 4vw;
    height: 4px;
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    transform: translateX(-50%);
    z-index: 2;
}

.selecionada {
    background-color: rgba(255, 255, 255, 1);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
}

.seeMore {
    display: flex;
    align-items: center;
    color: white;
    border-radius: 100px;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0px 20px;
    cursor: pointer;
    gap: 5px;
}

.partitions {
    display: flex;
    gap: 3vw;
}

.partitionsFirst {
    margin-left: 5vw;
}

.genresMovies {
    display: flex;
    gap: 3vw;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.genresMovies::-webkit-scrollbar {
    display: none;
}

.moviesWrapper {
    display: flex;
    margin: 0 5vw;
    gap: 3vw;
}

.movie {
    width: min-content;
    cursor: pointer;
}

.movieInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.movieBackdrop {
    aspect-ratio: 1485 / 835;
    width: 43vw;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.movieInfo .title {
    font-size: calc(0.5rem + 2vw) !important;
    font-weight: normal;
    max-width: 90%;
}

.movieInfo svg {
    height: calc(0.5rem + 2vw) !important;
}

#resultsTitle {
    font-size: calc(1.3rem + 2vw);
    text-transform: capitalize;
}

#searchResults {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

@media (767px < width <= 1023px) {
    .searchBtn {
        font-size: calc(0.9rem + 4vw) !important;
    }

    header a,
    header p {
        font-size: calc(0.3rem + 3vw);
    }

    header img {
        height: calc(2rem + 10vw);
    }

    .btn {
        width: calc(2rem + 5vw) !important;
        height: calc(0.1rem + 0.5vw) !important;
    }

    .genres p {
        font-size: calc(2rem + 2vw);
    }

    .scrollPositionWrapper {
        height: 0.25vh;
    }

    .scrollPosition {
        height: 0.5vh;
    }

    .search__form {
        width: 60vw;
    }

    .movieInfo .title {
        font-size: calc(1rem + 2vw) !important;
    }

    .movieInfo svg {
        height: calc(1rem + 2vw) !important;
    }
}

@media (1024px <= width) {
    header {
        height: calc(4rem + 2vw);
        padding: 0.5vw 1vw;
    }

    #headerDiv {
        gap: 2vw;
    }

    .searchBtn {
        font-size: calc(0.7rem + 1vw) !important;
    }

    header img {
        height: calc(3rem + 1.5vw);
    }

    header p,
    header a {
        font-size: calc(1rem + 0.5vw);
    }

    .filme {
        height: 80vh;
        background-position-y: 30%;
    }

    .infoMobile {
        display: none;
    }

    .info {
        display: block;
    }

    .infoInner {
        margin-bottom: 2%;
        gap: 1.3vw;
        padding: calc(1rem + 0.5vw);
        border-radius: 20px;
        align-items: normal;
        flex-direction: column;
    }

    .title {
        font-size: calc(1rem + 2vw);
    }

    .description {
        color: white;
        max-width: 32vw;
        font-size: calc(0.4rem + 0.7vw);
    }

    .btnWatch {
        padding: calc(0.2rem + 0.7vw) calc(0.3rem + 3vw);
        font-size: calc(1rem + 0.5vw);
    }

    #play_arrow {
        font-size: calc(2rem + 0.5vw);
    }

    #suggestionsWrapper {
        display: none;
    }

    #suggestions {
        display: flex;
        gap: 0.5vw;
    }

    .delay {
        transition: 800ms;
    }

    .btn {
        width: calc(1.6rem + 3vw) !important;
        height: calc(0.1rem + 0.2vw) !important;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 1rem;
        cursor: pointer;
    }

    .btnLoading {
        height: 100%;
        width: 50%;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 1rem;
    }

    .search__form {
        width: 40vw;
    }

    #lower {
        width: 80vw;
    }

    .genresUpper {
        align-items: flex-end;
    }

    .pageCount {
        display: flex;
        height: fit-content;
        gap: calc(0.2rem + 0.1vw);
    }

    .pageCounts {
        width: calc(1rem + 1vw);
        height: calc(0.1rem + 0.1vw);
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
    }

    .selecionada {
        background-color: rgba(255, 255, 255, 1);
    }

    .genres {
        margin-top: 3vw;
    }

    .genres p {
        font-size: calc(1rem + 1vw);
    }

    .scrollPositionWrapper {
        display: none;
    }

    .pass {
        display: block;
        border: none;
        z-index: 2;
        width: 8.5vw;
    }

    .moviesWrapper {
        transition: 1s;
        margin: 0 10vw;
        gap: 1.5vw;
    }

    .movieBackdrop {
        width: 18.875vw;
    }

    .movieInfo .title {
        font-size: calc(0.7rem + 0.8vw) !important;
        font-weight: normal;
        max-width: 90%;
    }

    .movieInfo svg {
        height: calc(0.6rem + 0.7vw) !important;
    }
}
