* {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: rgba(5, 21, 30, 1);
}

header {
    background-color: rgba(5, 21, 30, 1);
    padding: 1vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(9vh + 2vw);
    position: relative;
}

.divSize {
    width: 100%;
    position: relative;
    display: flex;
}

.divSize div:has(span) {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.searchBtn {
    color: white;
    font-size: calc(1.9rem + 1vw) !important;
    font-weight: bolder !important;
    cursor: pointer;
}

#searchBarWrapper {
    display: none;
    transition: 500ms;
    width: 0;
    overflow: hidden;
}

.searchBar {
    display: flex;
    height: 100%;
}

.searchBar input {
    padding: 0.5rem 0 0.5rem 1rem;
    min-width: 45vw;
    font-size: calc(0.5rem + 2vw);
    border: none;
    outline: none;
}

.searchBar button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

#searchFor {
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    width: 7vw;
    color: gray;
    cursor: pointer;
    font-size: 2rem;
    justify-content: center;
}

.searchBar select {
    min-width: 29vw;
    font-size: calc(0.5rem + 2vw);
}

.searchBar select option {
    font-size: calc(0.5rem + 2vw);
}

#headerDiv {
    display: flex;
    align-items: center;
    gap: calc(2vh + 1vw);
}

header img {
    height: calc(5rem + 1vw);
    cursor: pointer;
}

.divSize:has(p) {
    justify-content: end;
    display: flex;
}

header p,
header a {
    color: white;
    font-weight: bolder !important;
    font-size: calc(1rem + 1vw);
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
}

#searchBarWrapperMobile {
    transition: 500ms;
    width: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
}

#upper {
    position: relative;
}

#upper > #suggestions {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}

#suggestionsWrapper {
    z-index: 1000;
    width: 100vw;
    height: 72vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    pointer-events: none;
}

#suggestionsMobile {
    display: flex;
    height: min-content;
    gap: 0.5rem;
    margin-bottom: 2vw;
}

#suggestions {
    display: none;
    height: min-content;
    gap: 0.5rem;
    margin-bottom: 2vw;
}

.btn {
    width: 4rem !important;
    height: 0.3rem !important;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    cursor: pointer;
}

.currentBtn {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1rem;
}

.btnLoading {
    height: 100%;
    width: 50%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1rem;
}

#movies {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

.delay {
    transition: 600ms;
}

.instant {
    transition: 0;
}

.fundo {
    min-width: 100%;
    height: max-content;
}

.info {
    width: 80vw;
    display: none;
}

.infoInner {
    width: fit-content;
    margin-bottom: 5vw;
    display: flex;
    gap: 3vw;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    padding: 3vw;
    border-radius: 2vw;
    align-items: center;
}

.btnWatch {
    border: none;
    padding: 5px 5px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    width: max-content;
}

.btnWatch:hover {
    background-color: rgb(209, 209, 209);
}

.description {
    color: white;
    width: 600px;
    font-size: 1.6rem;
}

.title {
    color: white;
    font-weight: bold;
    font-size: calc(0.9rem + 2vw);
    max-width: 60vw;
}

#play_arrow {
    font-size: calc(0.9rem + 2vw);
}

.infoMobile {
    width: fit-content;
}

.filme {
    width: 100vw;
    height: 72vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position-x: 50%;
    background-position-y: 50%;
}

#lower {
    height: fit-content;
    width: 90vw;
    margin: auto;
    color: white;
}

#trending {
    margin-top: 6vh;
}

.genres {
    margin-top: 6vw;
}

.genresLower {
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
    width: 100vw;
}

.pass {
    display: none;
    border: none;
    z-index: 2;
    width: 16.5rem;
}

.hidden {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff00;
    transition: 200ms;
    visibility: hidden;
}

.visible {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    transition: 200ms;
    cursor: pointer;
}

.centerText {
    display: flex;
    align-items: center;
    gap: 5px;
}

.centerText p {
    max-width: 45vw;
    width: fit-content;
}

.centerText svg {
    font-size: 1rem !important;
}

.genreDiv {
    cursor: pointer;
    position: relative;
}

.genreAbsolute {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.genreBar {
    height: 3px;
    width: 0px;
    background-color: white;
    transition: 150ms;
}

.previous {
    position: absolute;
    height: 100%;
    left: 0;
    border-radius: 0px 10px 10px 0px;
}

.next {
    position: absolute;
    height: 100%;
    right: 0;
    border-radius: 10px 0px 0px 10px;
}

.genres p {
    font-size: 2rem;
    font-weight: bold;
}

.genresUpper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.pageCount {
    display: none;
    height: fit-content;
    gap: 4px;
}

.pageCounts {
    width: 5vw;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.scrollPositionWrapper {
    width: 30vw;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.scrollPosition {
    position: absolute;
    width: 4vw;
    height: 4px;
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    transform: translateX(-50%);
    z-index: 1000;
}

.selecionada {
    background-color: rgba(255, 255, 255, 1);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
}

.seeMore {
    display: flex;
    align-items: center;
    color: white;
    border-radius: 100px;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0px 20px;
    cursor: pointer;
    gap: 5px;
}

.partitions {
    display: flex;
    gap: 3vw;
}

.partitionsFirst {
    margin-left: 5vw;
}

.genresMovies {
    transition: 1s;
    display: flex;
    gap: 3vw;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.genresMovies::-webkit-scrollbar {
    display: none;
}

.movie {
    width: min-content;
    cursor: pointer;
}

.movieInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.movieBackdrop {
    aspect-ratio: 1485 / 835;
    width: 43vw;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.movieInfo .title {
    font-size: calc(0.5rem + 2vw) !important;
    font-weight: normal;
    max-width: 90%;
}

.movieInfo svg {
    height: calc(0.5rem + 2vw) !important;
}

#resultsTitle {
    font-size: calc(1.3rem + 2vw);
    text-transform: capitalize;
}

#searchResults {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
