* {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    background-color: rgba(5, 21, 30, 1);
}

header {
    background-color: rgba(5, 21, 30, 1);
    padding: 1vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(7vh + 5vw);
    position: relative;
    border-bottom: 1px solid rgb(15, 29, 37);
}

.divSize {
    width: 100%;
    position: relative;
    display: flex;
}

.divSize div:has(span) {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.searchBtn {
    color: white;
    font-size: calc(1.9rem + 1vw) !important;
    font-weight: bolder !important;
    cursor: pointer;
}

#searchBarWrapper {
    display: none;
    transition: 500ms;
    width: 0;
    overflow: hidden;
}

.searchBar {
    display: flex;
    height: 100%;
}

.searchBar input {
    padding: 0.5rem 0 0.5rem 1rem;
    min-width: 45vw;
    font-size: calc(0.5rem + 2vw);
    border: none;
    outline: none;
}

.searchBar button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

#searchFor {
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    width: 7vw;
    color: gray;
    cursor: pointer;
    font-size: 2rem;
    justify-content: center;
}

.searchBar select {
    min-width: 29vw;
    font-size: calc(0.5rem + 2vw);
}

.searchBar select option {
    font-size: calc(0.5rem + 2vw);
}

#headerDiv {
    display: flex;
    align-items: center;
    gap: calc(2vh + 1vw);
}

header img {
    height: calc(3rem + 7vw);
    cursor: pointer;
}

.divSize:has(p) {
    justify-content: end;
    display: flex;
}

header p,
header a {
    color: white;
    font-weight: bolder !important;
    font-size: calc(0.3rem + 3vw);
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
}

#searchBarWrapperMobile {
    transition: 500ms;
    width: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: white;
}

#lowerHeader {
    display: flex;
    width: 80vw;
    margin: 45px 0;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

#genreName {
    font-size: calc(2rem + 2vw);
    font-weight: bold;
    text-transform: uppercase;
}

#movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 90vw;
}

.movie {
    width: min-content;
    cursor: pointer;
    margin-bottom: 25px;
}

.movieBackdrop {
    aspect-ratio: 1485 / 835;
    width: 42.5vw;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2vw;
}

.movieInfo {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-height: 47px;
    box-sizing: border-box;
}

.title {
    color: white;
    font-weight: bold;
    font-size: calc(0.5rem + 2vw);
}

.movieInfo svg {
    font-size: calc(0.5rem + 2vw);
}

#genre {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back {
    display: flex;
    align-items: center;
    font-size: calc(0.5rem + 2vw);
    font-weight: bold;
    cursor: pointer;
}

.back span {
    font-weight: bold;
    font-size: calc(0.5rem + 2vw);
    display: flex;
    align-items: center;
    justify-content: center;
}

#pages {
    width: fit-content;
    margin: 40px auto 60px;
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

#pages p {
    font-size: 1.6rem;
}

.pageBtn {
    border: none;
    background-color: #ffffff00;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    height: fit-content;
    border-radius: 5px;
    padding: 10px;
}

.pageSelected {
    background-color: white;
    color: rgba(5, 21, 30, 1);
}

@media (1024px <= width) {
    header {
        height: calc(4rem + 2vw);
        padding: 0.5vw 1vw;
    }

    #headerDiv {
        gap: 2vw;
    }

    .searchBtn {
        font-size: calc(0.7rem + 1vw) !important;
    }

    header img {
        height: calc(3rem + 1.5vw);
    }

    header p,
    header a {
        font-size: calc(1rem + 0.5vw);
    }

    #genreName {
        font-size: calc(2rem + 1vw);
    }

    #movies {
        width: 80vw;
    }

    .movieBackdrop {
        width: 18.875vw;
        border-radius: 1vw;
    }

    .title {
        font-size: calc(0.4rem + 1vw);
    }

    .movieInfo {
        max-height: max-content;
    }

    .movieInfo svg {
        height: calc(0.6rem + 0.7vw) !important;
    }

    .back {
        font-size: calc(1rem + 0.5vw);
    }

    .back span {
        font-size: calc(1rem + 0.8vw);
    }
}
