* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: rgba(5, 21, 30, 1);
}

header {
    background-color: rgba(5, 21, 30, 1);
    padding: 1vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(7vh + 5vw);
    position: relative;
}

.divSize {
    width: 100%;
    position: relative;
    display: flex;
}

.divSize div:has(span) {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.searchBtn {
    color: white;
    font-size: calc(1.9rem + 1vw) !important;
    font-weight: bolder !important;
    cursor: pointer;
}

#searchBarWrapper {
    display: none;
    transition: 500ms;
    width: 0;
    overflow: hidden;
}

.searchBar {
    display: flex;
    height: 100%;
}

.searchBar input {
    padding: 0.5rem 0 0.5rem 1rem;
    min-width: 45vw;
    font-size: calc(0.5rem + 2vw);
    border: none;
    outline: none;
    color: black;
}

.searchBar button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

#searchFor {
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    width: 7vw;
    color: gray;
    cursor: pointer;
    font-size: calc(1.3rem + 2vw);
    justify-content: center;
}

.searchBar select {
    min-width: 29vw;
    color: black;
    font-size: calc(0.5rem + 2vw);
}

.searchBar select option {
    font-size: calc(0.5rem + 2vw);
    color: black;
}

#headerDiv {
    display: flex;
    align-items: center;
    gap: calc(2vh + 1vw);
}

header img {
    height: calc(3rem + 7vw);
    cursor: pointer;
}

.divSize:has(p) {
    justify-content: end;
    display: flex;
}

header p,
header a {
    color: white;
    font-weight: bolder !important;
    font-size: calc(0.3rem + 3vw);
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
}

#searchBarWrapperMobile {
    transition: 500ms;
    width: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: white;
}

#bgImg {
    width: 100vw;
    height: 72vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position-x: 50%;
    background-position-y: 50%;
}

.fechadoImg {
    height: 75vh;
}

.abertoImg {
    height: 100vh;
    transition: 500ms;
}

.iframeFechado {
    height: 0px;
    width: 0px;
    display: none;
}

.iframeAberto {
    visibility: visible;
    transition: 500ms;
    width: 1500px;
    height: 843px;
}

#bgColor {
    background-color: rgba(5, 21, 30, 1);
}

main {
    width: 100%;
    height: 0;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    gap: 1vw;
}

.top200 {
    top: calc((-22vw - 8vh) + (4vw + 1vh));
}

.top {
    top: 0px;
    transition: 500ms;
}

#diretores {
    display: flex;
    gap: 3vw;
    color: #fff;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
}

#diretores p {
    font-size: calc(0.3rem + 2.5vw);
}

#nome {
    font-weight: bold;
    font-size: calc(2.3rem + 2vw);
    color: #fff;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
}

#generos {
    display: flex;
    gap: 5px;
}

.genero {
    border: white 1px solid;
    border-radius: 5px;
    font-size: calc(0.1rem + 2vw);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1.3vw;
    font-weight: bold;
    backdrop-filter: blur(10px);
    color: white;
}

#telas {
    margin-top: 10px !important;
    display: flex;
    gap: 1vw;
    color: white;
}

#play {
    width: 100%;
    border-radius: 1vw;
    border: none;
    background-color: #38a935;
    /* height: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#play:hover {
    cursor: pointer;
    background-color: #2c8529;
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 24;
}

#playArrow {
    font-size: calc(1.3rem + 2vw);
}

.tela {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: calc(8vw + 2vh);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(5px);
    padding: 0.5vw;
}

.info {
    font-weight: bold;
    font-size: calc(0.3rem + 2vw);
    text-align: center;
}

.titulo {
    color: darkgray;
    font-size: calc(0.3rem + 1vw);
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.anchor {
    display: block;
    height: 240px; /*same height as header*/
    margin-top: -240px; /*same height as header*/
    visibility: hidden;
}

#seasons {
    background-color: #05151e;
    color: #404d53;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: calc(0.9rem + 2vw);
    cursor: pointer;
    margin-bottom: 1.5vw !important;
}

#seasons option {
    color: #404d53;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: calc(1.5rem + 0.5vw);
    max-width: min-content;
}

#btnEp {
    display: flex;
}

#btnEp button {
    display: none;
    width: 2vw;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 0;
}

#btnEp button span {
    font-size: calc(2rem + 3vw);
}

#btnEp button .material-symbols-rounded {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

#anterior {
    visibility: hidden;
}

#anterior span {
    rotate: 180deg;
    width: 2vw;
}

#episodesWrapper {
    padding-left: 5%;
    overflow-x: scroll;
    padding-bottom: 3vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#episodesWrapper::-webkit-scrollbar {
    display: none;
}

#episodes {
    display: flex;
    flex-flow: row nowrap;
    gap: 2vw;
    transition: 700ms;
    width: fit-content;
}

.episode {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: min-content;
}

.episodeImg {
    aspect-ratio: 1556 / 875;
    min-width: 43.5vw;
    min-height: 24.5vw;
    width: 43.5vw;
    height: 24.5vw;
    display: flex;
    flex-direction: row;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    transition: 300ms;
}

.episodeInfo {
    width: 100%;
    height: 100%;
    min-height: 8vw;
    box-sizing: border-box;
    background-color: #040f16;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 3vw;
    border-radius: 0 0 10px 10px;
    color: white;
}

.episodeInfoClass {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.episodeInfoClass p {
    font-size: calc(0.3rem + 2vw);
}

#playEp {
    font-size: calc(1.3rem + 2vw);
}

.epNum {
    max-width: 70%;
}

.mainDiv {
    margin-top: 2vw;
}

.description {
    color: #404d53;
    font-weight: bold;
    font-size: calc(0.9rem + 2vw);
    margin-bottom: 1.5vw !important;
}

#description {
    font-size: calc(0.3rem + 2vw);
    color: white;
}

#diretores,
#nome,
#generos,
#telas,
.description,
#description,
#seasons {
    margin: 0% 5%;
}

#cast {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    padding-bottom: 3vw;
    gap: 3vw;
    padding-left: 5%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#cast::-webkit-scrollbar {
    display: none;
}

.face {
    width: 25vw;
    height: 25vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -10px;
    border-radius: 100%;
}

.character {
    color: gray !important;
    font-size: calc(0.7rem + 2vw);
}

.guest {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.actor {
    display: flex;
    flex-direction: column;
    width: min-content;
    align-items: center;
    gap: 7px;
    font-weight: bold;
    text-align: center;
}

.actor p {
    font-size: calc(0.3rem + 2vw);
    color: white;
}

#similarMovies {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    overflow-x: scroll;
    padding: 1vw 1vw 4vw;
    padding-left: 5%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 5vw;
}

#similarMovies::-webkit-scrollbar {
    display: none;
}

.imagem {
    width: 40vw;
    height: 60vw;
    cursor: pointer;
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 82px;
}

.movie-info h3 {
    font-size: calc(0.8rem + 2vw);
}

.movie {
    font-family: 'Raleway';
    width: min-content;
    display: flex;
    flex-direction: column;
}

div.actor:last-child,
div.episode:last-child,
div.movie:last-child {
    margin-right: 5vw;
}

.gradient-border {
    --borderWidth: 3px;
    background: #0f1315;
    color: white;
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
}

@media (767px < width <= 1023px) {
    .searchBtn {
        font-size: calc(0.9rem + 4vw) !important;
    }

    header a,
    header p {
        font-size: calc(0.3rem + 3vw);
    }

    header img {
        height: calc(2rem + 10vw);
    }

    #diretores p {
        font-size: calc(0.3rem + 3vw);
    }

    #nome {
        font-size: calc(2.3rem + 4vw);
    }

    .genero {
        border-radius: 8px;
    }

    #playArrow {
        font-size: calc(1.3rem + 3vw);
    }

    .titulo {
        font-size: calc(0.3rem + 1.5vw);
    }
}

@media (1024px <= width) {
    header {
        height: calc(4rem + 2vw);
        padding: 0.5vw 1vw;
    }

    #headerDiv {
        gap: 2vw;
    }

    .searchBtn {
        font-size: calc(0.7rem + 1vw) !important;
    }

    header img {
        height: calc(3rem + 1.5vw);
    }

    header p,
    header a {
        font-size: calc(1rem + 0.5vw);
    }

    #bgImg {
        width: 100%;
        align-items: center;
        height: 75vh;
    }

    main {
        width: 80vw;
        height: 0;
        margin: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 1;
    }

    .top200 {
        top: -233px;
    }

    #diretores,
    #nome,
    #generos,
    #telas,
    #seasons,
    .description,
    #description {
        padding: 0%;
        margin: 0%;
    }

    #diretores {
        gap: 1vw;
    }

    #diretores p {
        font-size: calc(1rem + 0.4vw);
    }

    #nome {
        font-size: calc(3rem + 2vw);
    }

    .genero {
        font-size: calc(0.7rem + 0.3vw);
        padding: 5px;
    }

    #play {
        border-radius: 1vw;
    }

    #playArrow {
        font-size: calc(2rem + 2vw);
    }

    #telas {
        gap: 0.6vw;
    }

    .tela {
        height: calc(2rem + 6vw);
        border-radius: 1vw;
        justify-content: space-around;
        padding: 0;
    }

    .titulo,
    .tela p {
        font-size: calc(0.6rem + 0.5vw);
    }

    .info {
        font-size: calc(0.6rem + 1.2vw) !important;
    }

    #seasons {
        font-size: calc(1rem + 0.5vw);
        margin: 0 !important;
        width: fit-content;
    }

    #seasons option {
        font-size: calc(1rem + 0.5vw);
    }

    #btnEp {
        width: 100vw;
        transform: translateX(-2vw);
        transform: translateX(-10vw);
    }

    #btnEp button {
        display: block;
        position: absolute;
        width: 8.5vw;
        height: 100%;
        z-index: 2;
    }

    #anterior {
        left: 0;
        border-radius: 0 10px 10px 0;
    }

    #anterior span {
        rotate: 180deg;
        width: auto;
    }

    #avancar {
        right: 0;
        border-radius: 10px 0 0 10px;
    }

    .hidden {
        background-color: rgba(0, 0, 0, 0) !important;
        color: #ffffff00 !important;
        transition: 200ms;
        visibility: hidden;
    }

    .visible {
        background-color: rgba(0, 0, 0, 0.5) !important;
        color: #ffffff !important;
        transition: 200ms;
        cursor: pointer;
        visibility: visible !important;
    }

    #episodesWrapper {
        width: 100vw;
        overflow: hidden;
        padding: 0;
    }

    #episodes {
        gap: 1.5vw;
        margin-left: 10vw;
    }

    .episodeImg {
        width: 18.875vw;
        height: 11vw;
        min-width: 18.875vw;
        min-height: 11vw;
    }

    .episodeInfo {
        padding: 0.5vw;
        gap: 0.5vw;
        min-height: fit-content;
    }

    #playEp {
        font-size: calc(1.2rem + 1.5vw);
    }

    .episodeInfoClass p {
        font-size: calc(0.8rem + 0.4vw);
    }

    .description {
        font-size: calc(1rem + 0.5vw) !important;
        margin: 0 !important;
    }

    #description {
        font-size: calc(0.8rem + 0.4vw);
    }

    #cast {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        gap: 0;
    }

    .face {
        width: calc(1rem + 5vw);
        height: calc(1rem + 5vw);
    }

    .actor p {
        font-size: calc(0.6rem + 0.5vw);
    }

    .mainDiv {
        margin-top: 1vw;
        gap: 0.5vw;
        display: flex;
        flex-direction: column;
    }

    #similarMovies {
        flex-wrap: wrap;
        padding: 0;
        overflow-x: visible;
    }

    .imagem {
        width: calc(1rem + 10vw);
        height: calc(1.5rem + 15vw);
    }

    div.actor:last-child,
    div.episode:last-child,
    div.movie:last-child {
        margin-right: 0vw;
    }
}
