* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
    color: white;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background-color: rgba(5, 21, 30, 1);
}

header {
    background-color: rgba(5, 21, 30, 1);
    padding: 1vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(9vh + 2vw);
    position: relative;
}

.divSize {
    width: 100%;
    position: relative;
    display: flex;
}

.divSize div:has(span) {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.searchBtn {
    color: white;
    font-size: calc(1.9rem + 1vw) !important;
    font-weight: bolder !important;
    cursor: pointer;
}

#searchBarWrapper {
    display: none;
    transition: 500ms;
    width: 0;
    overflow: hidden;
}

.searchBar {
    display: flex;
    height: 100%;
}

.searchBar input {
    padding: 0.5rem 0 0.5rem 1rem;
    min-width: 45vw;
    font-size: calc(0.5rem + 2vw);
    border: none;
    outline: none;
}

.searchBar button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

#searchFor {
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    width: 7vw;
    color: gray;
    cursor: pointer;
    font-size: calc(1.3rem + 2vw);
    justify-content: center;
}

.searchBar select {
    min-width: 29vw;
    font-size: calc(0.5rem + 2vw);
    color: black;
}

.searchBar select option {
    font-size: calc(0.5rem + 2vw);
    color: black;
}

#headerDiv {
    display: flex;
    align-items: center;
    gap: calc(2vh + 1vw);
}

header img {
    height: calc(5rem + 1vw);
    cursor: pointer;
}

.divSize:has(p) {
    justify-content: end;
    display: flex;
}

header p,
header a {
    color: white;
    font-weight: bolder !important;
    font-size: calc(1rem + 1vw);
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
}

#searchBarWrapperMobile {
    transition: 500ms;
    width: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: white;
}

#bgImg {
    width: 100vw;
    height: 72vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position-x: 50%;
    background-position-y: 50%;
}

.fechadoImg {
    height: 75vh;
}

.abertoImg {
    height: 100vh;
    transition: 500ms;
}

.iframeFechado {
    height: 0px;
    width: 0px;
    display: none;
}

.iframeAberto {
    visibility: visible;
    transition: 500ms;
    width: 1500px;
    height: 843px;
}

#bgColor {
    background-color: rgba(5, 21, 30, 1);
}

main {
    width: 100%;
    height: 0;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100000;
    gap: 1vw;
}

.top200 {
    top: calc(-14vw - 10vh);
}

.top {
    top: 0px;
    transition: 500ms;
}

#diretores {
    display: flex;
    gap: 20px;
    color: #fff;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
}

#diretores p {
    font-size: calc(0.3rem + 2vw);
}

#nome {
    font-weight: bold;
    font-size: calc(2.3rem + 2vw);
    color: #fff;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
}

#generos {
    display: flex;
    gap: 5px;
}

.genero {
    border: white 1px solid;
    border-radius: 5px;
    font-size: calc(0.1rem + 2vw);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    font-weight: bold;
    backdrop-filter: blur(10px);
}

#telas {
    margin-top: 10px;
    display: flex;
    gap: 4px;
    /* width: 90vw; */
    margin-top: 2vw;
}

#play {
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #38a935;
    /* height: 30px; */
}

#play:hover {
    cursor: pointer;
    background-color: #2c8529;
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 24;
}

#playArrow {
    font-size: calc(1.3rem + 2vw);
}

.tela {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: calc(8vw + 2vh);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(5px);
}

.info {
    font-weight: bold;
    font-size: calc(0.3rem + 2vw);
    text-align: center;
}

.titulo {
    color: darkgray;
    font-size: calc(0.3rem + 1vw);
}

.hidden {
    visibility: hidden;
}

.description {
    color: #404d53;
    font-weight: bold;
    font-size: calc(0.9rem + 2vw);
}

#description {
    font-size: calc(0.3rem + 2vw);
}

#diretores,
#nome,
#generos,
#telas,
.description,
#description {
    padding: 0% 5%;
}

#cast {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    padding-bottom: 3vw;
    gap: 3vw;
    padding-left: 5%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#cast::-webkit-scrollbar {
    display: none;
}

.face {
    width: 25vw;
    height: 25vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -10px;
    border-radius: 100%;
}

.guest {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.actor {
    display: flex;
    flex-direction: column;
    width: min-content;
    align-items: center;
    gap: 7px;
    font-weight: bold;
    text-align: center;
}

.actor p {
    font-size: calc(0.3rem + 2vw);
}

#similarMovies {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    overflow-x: scroll;
    padding: 1vw 1vw 4vw;
    padding-left: 5%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 10vw;
}

#similarMovies::-webkit-scrollbar {
    display: none;
}

.imagem {
    width: 40vw;
    height: 60vw;
    cursor: pointer;
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 82px;
}

.movie-info h3 {
    font-size: calc(0.8rem + 2vw);
}

.movie-info span {
    background-color: #060607;
    border-radius: 10px;
    padding: 10px 15px;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.movie {
    font-family: 'Raleway';
    width: min-content;
    display: flex;
    flex-direction: column;
}

div.actor:last-child,
div.episode:last-child,
div.movie:last-child {
    margin-right: 5vw;
}

.gradient-border {
    --borderWidth: 3px;
    background: #0f1315;
    color: white;
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
}
